/* Style du formulaire de recherche */
.rechercher {
    width: 80%;
    margin: 2% auto;
    border: 2px solid rgb(222, 226, 230);
    background: #fff;
    font-family: 'Karla', sans-serif;
}

.rechercher input[type = text] {
    width: 100%;
    /*padding: 12px 20px;*/
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.rechercher div {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}


.rechercher button[type = submit] {
    background-color: #c2b845;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

.rechercher button[type=submit]:hover {
    background-color: white;
    color: #c2b845;
    border: 1px solid #c2b845;
}